<div class="wave-form-player">
    <div  class="container"></div>
    <section class="commands" layout="column" layout-fill layout-align="center center">
        <div layout="row" layout-fill>
        <md-button  aria-label="Open demo menu" class="md-fab md-mini" ng-click="showVolume($event)">
            <i class="fa fa-volume-up" aria-hidden="true"></i>
        </md-button>
        <md-button id="{{$id}}" class="md-fab md-mini" aria-label="Eat cake"  ng-click="doToglePlay()">
            <i class="fa fa-play" aria-hidden="true" ng-if="audio.paused"></i>
            <i class="fa fa-pause" aria-hidden="true" ng-if="!audio.paused"></i>
        </md-button>
        <md-slider flex step="0.1" min="0" max="100" ng-model="progress" aria-label="red" id="red-slider" ng-mousedown="slidePosition(true)" ng-mouseup="slidePosition(false)"></md-slider>
        </div>
    </section>
    <div class="info" layout="row" layout-align=" space-between center">
        <span>{{info.title}} </span>
        <span flex></span>
        <span>Time: {{audio.currentTime | trackTime}}</span>
        <md-switch ng-model="scroll" aria-label="Switch 1"></md-switch>
    </div>
</div>