wave-form-player{
	width: 100%;
	position: relative;
	.show{
		display: block;
	}
	.hide{
		display: none;
	}
}
.wave-form-player {
	width: 100%;
	.container {
		width: 100%;
		height: 160px;
		overflow: hidden;
		position: relative;
	}
	.info{
		position: absolute;
		top: 0;
		width: 100%;
		md-switch{
			margin: 0 0 0 10px;
		}
	}
	.commands{
		md-slider {
		padding-left: 15px;
		padding-right: 15px;
		}
		.md-button{
			&.md-fab{
				&.md-mini i {
					font-size: 20px;
					position: relative;
					top: 2px
				}
			}
		}
	}

}
.volume-dialog {
	width: 380px;
	.volume-box{
		i {
			font-size: 28px;
			position: relative;
			top: 7px
		}
	}
	.close-btn {
		position: absolute;
		right: 0px;
		top: 4px;
		i {
			font-size: 20px;
			top: 1px;
		}
	}
	h2 {
		margin-top: 0;
	}
}



